{% set payment = hookable_metadata.context.payment %}

{% if payment.details['payment-link'] is defined and sylius_sm_can(payment, 'complete', 'sylius_payment') %}
    <a href="{{ payment.details['payment-link'] ?? '' }}" class="btn">
        {{ ux_icon('tabler:currency') }} {{ 'sylius.ui.pay'|trans }}
    </a>
{% endif %}
