{{ form_row(gateway_configuration.config.api_key_live) }}
{#<button id="{{ gateway_configuration.config.api_key_live.vars.name }}" type="button" class="ui button primary">#}
{#    {{ 'sylius_mollie.ui.show_hide'|trans }}#}
{#</button>#}
