<button
    class="btn test-api-key-button"
    type="button"
    data-url="{{ path('mollie_admin_test_api_keys') }}"
>
    {{ 'sylius_mollie.ui.test_api_keys'|trans }}
</button>
<div class="ui test-api-key-div"></div>
